:root {
    --warna-bg: rgba(0, 0, 0, .5);
    --warna-teks: #fff;
    --warna-bingkai: #fff;
    --bingkai: 20px;
}

body {
    background-color: #000;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 25px;
    user-select: none;
}

a {
    text-decoration: none;
}

body::before {
    content: "\00A9  Raffiqi | Programmind";
    color: #fff;
    opacity: 0;
    font-size: 10px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 2
}

#bodyblur {
    opacity: .2;
    animation: jj 7s infinite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: -1;
    transition: all 1s ease;
}

#wallpaper {
    width: 100%;
    height: 100%;
    transition: all 2s ease;
    user-select: none;
    -webkit-user-drag: none;
}

#beneranblur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: all 3s ease;
}


blockquote {
    opacity: 0;
    visibility: hidden;
    transform: scale(.1);
    transition: all 1s ease;
    position: absolute;
    margin-top: 120px;
    margin-left: 0;
    margin-right: 0;
}

blockquote {
    width: 400px;
    background: var(--warna-bg);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--warna-bingkai);
    color: var(--warna-teks);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);
    text-align: center;
    line-height: 1.3em;
    padding: 0 25px 0 25px;
    transition:all .7s ease;
}

blockquote img {
    display: none;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2.5px double #fff;
    padding: 10px;
    width: 90px;
    height: 90px;
    margin: 20px 0 0 0;
}

#fotoakhir {
    opacity: .1;
    margin-bottom: 15px;
    transition: all 1.2s ease;
    transform: scale(.1);
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    transition: all .8s ease;
}

#kalimat {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 19px;
    font-weight: 700;
    transform: scale(.1);
}

#kalimatb {
    font-weight: 400;
    font-size: 18px;
}

#kalimatc {
    font-size: 17px
}

#kalimatd {
    font-size: 22px;
    font-weight: 700;
}

#Tombol {
    position: relative;
    opacity: 0;
    margin: 0;
    display: flex;
    align-items: left;
    list-style: none;
    transform: scale(.1);
    transition: all 1s ease;
}

#Tombol a {
    cursor: none;
    display: inline-flex;
    align-items: center;
    margin: 0;
    margin: 12px 0 12px 0;
    transition: all .2s ease;
    padding: 10px;
    outline: 0;
    border: 2px solid var(--warna-bingkai);
    border-radius: var(--bingkai);
    line-height: 15px;
    background: var(--warna-bg);
    color: var(--warna-teks);
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: #fff2 0px 7px 29px 0px;
    z-index: 1
}

#Tombol a:hover {
    transform: scale(.90);
}

#buttonv2 {
    position: absolute;
    font-size: 15px;
    color: #fff;
    background: var(--warna-bg);
    padding: 10px;
    border-radius: 8px;
    line-height: 10px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);
    opacity: 0
}

#Bn {
    position: relative;
    transition: all .3s ease-in-out;
}

#Bn2 {
    position: absolute;
    opacity: 0;
    width: 0
}

#Content {
    animation-name: none;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
    opacity: 0;
    margin-top: 50px;
    width: 100%;
    height: 180px;
    transition: all .8s ease;
}

#Content>* {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 1px;
}

#fotolove img {
    transition: all .5s ease;
    width: 75px;
    height: 75px;
    padding: 0;
    background: none
}

#suratin {
    transition: all .8s ease;
}

#suratin img {
    display: inline-flex;
    box-shadow: #fff8 0px 7px 29px 0px;
    background: #fff;
    border-radius: 10%;
    padding: 10px;
    width: 140px;
    height: 110px;
    transition: all .3s ease;
}

#ket {
    text-shadow: 0px 2px 2px #000c;
    color: #fff;
    transition:all .8s ease;
}

#suratin img:hover {
    transform: scale(.9);
}

.swal2-modal>* {
    font-size: 17px;
}

.swal2-title {
    line-height: 1.3em;
    font-size: 17px;
    text-align: center;
    padding: 15px 50px 0 50px;
}

.swal2-container.swal2-backdrop-show {
    background: rgba(0, 0, 0, .5);
}

.swal2-timer-progress-bar-container>* {
    opacity: .7;
    background: #00B6FF;
    margin: 0 2px
}

.swal2-modal {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    max-width: 320px;
    background: rgba(250, 250, 250, 1);
    border-radius: 8px;
    top: -80px;
}

.fa-heart {
    opacity: .3;
    color: #fff;
    font-size: 27px;
    position: absolute;
    animation: heartMove linear 1;
    top: -10vh;
    z-index: 0;
}


#pesanstiker>*,
#pesanAwal,
#tgeser,
#tklik,
#tiya,
#fotoakhir2,
#pesanditolak>*,
#kalimat2,
#kalimatb2,
#kalimatc2,
#kalimat3,
#kalimatb3,
#kalimatc3 {
    display: none
}

svg.line {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    animation: moving .7s linear infinite alternate;
}

.heart-icon {
    width: 18px;
    height: 18px;
    position: fixed;
    animation: heartMove linear 1;
    top: -10vh;
}

@keyframes jj {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes rts {
    from {
        transform: scale(.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes rto {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes aniopa {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.75);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rtf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rt {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1);
    }
}

@keyframes kont {
    0% {
        left: -1px;
        top: -3px;
    }

    50% {
        left: 1px;
        top: 3px;
    }

    100% {
        left: -1px;
        top: -3px;
    }
}

@keyframes heartMove {
    0% {
        transform: translateY(-10vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes fanim {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 0% 100%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}